@model WebMaze.Models.Friends.FriendsViewModel

@{
    Layout = "_LayoutUserAccount";
}

<div class="container">
    <div class="row">
        <div class="col-sm-7 px-2">
            <div class="card text-center mb-3">
                <div class="card-body">
                    Friend requests:
                    <partial name="_FriendRequestsPartial" model="@Model.FriendRequests" />
                </div>
            </div>
            <div class="card text-center mb-3">
                <div class="card-body">
                    Friends:
                    <div class="d-flex flex-wrap align-items-center">
                        @foreach (var friend in Model.Friends)
                        {
                            <div class="col-sm-4 p-2">
                                <div class="mb-2">
                                    <a class="mb-2" asp-controller="Users" asp-action="Profile" asp-route-userLogin="@friend.Login">
                                        <div>
                                            <strong>@friend.FirstName</strong>
                                        </div>
                                        <div>
                                            <strong>@friend.LastName</strong>
                                        </div>
                                    </a>
                                </div>
                                <img src="@friend.AvatarUrl" class="rounded-circle mx-auto d-block" height="100" width="100" alt="Profile picture">
                                <a asp-action="Chat" asp-controller="Messenger" asp-route-recipientLogin="@friend.Login" class="btn btn-primary btn-sm btn-block my-2">Message</a>
                                <form asp-action="Unfriend" method="post">
                                    <input type="hidden" name="userLogin" value="@friend.Login" />
                                    <button type="submit" class="btn btn-warning btn-sm btn-block">Unfriend</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 px-2">
            <div class="card text-center mb-3">
                <div class="card-body">
                    Find users:
                    <form asp-action="Index" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control" name="searchTerm" />
                            <button type="submit" class="btn btn-primary my-2">Search</button>
                        </div>
                    </form>

                    @if (Model.FoundUsers.Any())
                    {
                        <div class="d-flex flex-wrap align-items-center">
                            @foreach (var foundUser in Model.FoundUsers)
                            {
                                <div class="col-sm-6 p-2">
                                    <div class="mb-2">
                                        <a asp-controller="Users" asp-action="Profile" asp-route-userLogin="@foundUser.Login"><strong>@foundUser.FirstName @foundUser.LastName</strong></a>
                                    </div>
                                    <img src="@foundUser.AvatarUrl" class="rounded-circle mx-auto d-block" height="100" width="100" alt="Profile picture">
                                    <a asp-controller="Users" asp-action="Profile" asp-route-userLogin="@foundUser.Login" class="btn btn-sm btn-primary btn-block my-2">Profile</a>
                                    <partial name="_FriendshipActionPartial" model="foundUser" />
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="text-center text-danger">
                            <h4>No users with the specified name were found</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
